body{
    min-height: 100vh;
    background: rgb(66,92,185);
    background: linear-gradient(
        90deg,
        rgb(1, 8, 34) 0%,
        rgba(4, 28, 61, 0.844) 50%,
        rgb(1, 11, 44) 93%)
}
.fsize{
    font-size: 5rem;
    color: rgba(63, 164, 204, 0.547);
    height: 200px;
}

@media screen and (max-width: 767px) {
    .fsize{
        font-size: 3rem;
        height: 120px;
    }
}